.contact {
    margin: 80px auto;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    padding: 0 20px;
}

.contact-col {
    flex: 1;
    color: #676767;
}
.contact-col .contact-input:focus{
         border:2px solid #ecac09;

}

.contact-col h3 {
    color: #000F38;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-col h3 img {
    width: 35px;
    margin-left: 10px;
}

.contact-col p {
    max-width: 450px;
    line-height: 1.6;
}

.contact-col ul li {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.contact-col ul li img {
    width: 40px;
    margin-right: 10px;
}

.contact form input,
.contact form textarea {
    display: block;
    width: 100%;
    background: #EBECFE;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}

.contact-col span {
    display: block;
    margin: 20px 0;
    font-weight: 500;
}

/* ----------- MOBILE VIEW ----------- */
@media (max-width: 700px) {

    .contact {
        flex-direction: column;

    }

    .contact-col {
      flex-basis: 100%;
      margin: 20px;
    }
}

