.footer {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #8a8383;
  padding: 15px 0;
  font-size: 14px;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

/* Links */
.footer ul li a {
  text-decoration: none;
  color: #555;
  transition: color 0.3s ease;
}

.footer ul li a:hover {
  color: #212ea0;
}

/* ------- media query ----- */
@media (max-width: 600px) {
  .footer {
    display: block;
    text-align: center;
  }

  .footer ul {
    margin-top: 10px;
  }

  .footer ul li {
    margin: 10px;
  }
}
