nav {
    width: 100%;
  /*  background: rgb(255, 255, 255); */
    color: rgb(225, 104, 11);
    padding: 1px 0;
    position: fixed;
    top: 0;
    bottom: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width: 100px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 20px;
}
.dark-nav{
    background-color: #212Ea0;
    transition: 0.5s;
}
.menu-icon{
    display: none;

}


/* --------- media Query---------- */ 


@media (max-width:840px){
    nav {
        padding: 15px 0;

    }
   .dark-nav ul  {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #212Ea0;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;

    }
   .dark-nav ul li{
        display: block;
        margin: 25px 40px;
    }
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .hide-mobile-menu{
       right: -200px;
       display: none;

    }
}
/* ===== FIX NAVBAR BUTTON VISIBILITY ===== */
.navbar{
     background: rgba(33, 46, 160, 0.9);
       box-shadow: 0 2px 15px rgba(0,0,0,0.15);

}
/* Buttons */
nav ul li .btn {
  background: white;
  color: #212ea0;
  padding: 8px 18px;
  border-radius: 25px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

nav ul li .btn:hover {
  background: #f4b400;
  color: #000;
}
