.title{
    text-align: center;
    font-size: 15px;
    font-weight: 600px;
    color: #212ea0;
    text-transform: uppercase;
    margin: 70px 0 30px;

}
.title h2{
    font-size: 70px;
    color: #000f38;
    margin-top: 5px;
    text-transform: none;
    
}
.title p{
    font-size: 30px;
}